<div id="supportingText">
    <div id="explanation">
        <p class="p1"><span>
            <h3><%= params[:pursue] == "true" ? "Pursued" : "Passed" %></h3>
        </span></p>
    </div>
</div>
<% content_for :side_links do %>
    <li><a href="">Blah</a></li>
    <li><a href="">Blah</a></li>
    <li><a href="">Blah</a></li>
<% end %>