<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<!-- layouts/application.html.erb -->
<%= render :partial => 'shared/head' %>
<body class="baseLookFeel">
<div id="mainWrapper">
   <%= render :partial => "shared/header" %>
  <%= yield %>
</div>

</body>
</html>
