<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<%= render :partial => 'shared/head' %>

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
  <title>Code Lounge</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>

</head>
<body class="baseLookFeel">

<div id="container">
  <div id="intro">
    <div id="pageHeader">
      <h1>Code Lounge</h1>
    </div>
  </div>
  <%= yield %>
</div>
<div id="footer">Copyright © 2010 Markershwar & Ashley (May not be the authors' real names)
  <br>
  <center><a href="http://www.markhneedham.com/blog" title="Mark's Blog" target="_blank">Mark 's Blog</a>
  </center>
  <center><a href="http://ashwinraghav.wordpress.com" title="Ashwin's Blog" target="_blank">Ashwin's Blog</a>
  </center>

</div>

<div id="linkList">
  <div id="linkList2">
    <div id="lselect">
      <h3 class="select">Menu</h3>
      <ul>
        <%= yield :side_links%>
      </ul>
    </div>
  </div>
</div>
</body>
</html>

















